*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

* {
  /* 窄滚动条 */
  scrollbar-width: thin;
  /* 滑块颜色 + 轨道透明 */
  scrollbar-color: var(--color-text-soft) transparent;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    background-color 0.5s;
}

body {
  height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  /* font-size: 16px; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * 下面这些在web版兼容性不好，会影响移动端的滚动条宽度计算，只在electron用算了
 */

/* 滚动条宽度 */
/* ::-webkit-scrollbar {
  width: 8px;
} */

/* 滚动条轨道 */
/* ::-webkit-scrollbar-track {
  background: transparent;
} */

/* 滚动条滑块 */
/* ::-webkit-scrollbar-thumb {
  background: var(--my-neutral);
  border-radius: 4px;
} */

/* ::-webkit-scrollbar-thumb:hover {
  background: var(--my-neutral-a60);
} */