@use './base.css';
@use './tailwind.css';
@use './transition.scss';
@use './animation.scss';
@use './element-plus.scss';
@use './nunito.css';


:root {
  // 基础颜色
  $my-neutral: rgba(140, 147, 157, 1);
  --my-neutral: #{$my-neutral};

  // 使用循环生成不同透明度的颜色
  @for $i from 1 through 9 {
    $opacity: $i * 0.1; // 透明度从 0.1 到 0.9
    --my-neutral-a#{$i}: rgba(140, 147, 157, #{$opacity});
  }
}

// 下面是一些自定义的样式类，poto意为PocketTogether

// 自定义的el表单的错误提示样式
.poto-el-form-line.poto-el-form-line {
  .el-form-item.is-error .el-input__wrapper.el-input__wrapper {
    box-shadow: 0 0 0 2px var(--el-color-danger) inset;

    &:hover {
      box-shadow: 0 0 0 2px var(--el-color-danger) inset;
    }

    &.is-focus {
      box-shadow: 0 0 0 2px var(--el-color-danger) inset;
    }
  }
}

// 自定义的el输入框样式，带有2px的线框
.poto-el-input-line.poto-el-input-line {
  display: flex;
  width: 100%;
  color: var(--color-text);

  // :deep() {
  .el-input__wrapper {
    padding: 1px 20px;
    border-radius: 9999px;
    // background-color: var(--color-background);
    background-color: var(--color-background-soft);
    // overflow: hidden;
    box-shadow: 0 0 0 2px var(--color-text-soft) inset;
    transition: all 150ms;

    &:hover {
      box-shadow: 0 0 0 2px var(--color-text) inset;
      background-color: var(--color-background);
    }

    &.is-focus {
      box-shadow: 0 0 0 2px var(--el-color-primary) inset;
      background-color: var(--color-background);
    }

    .el-input__inner {
      margin-left: 5px;
      color: var(--color-text);

      &::placeholder {
        color: var(--color-text-soft);
      }
    }
  }

  .el-input__prefix {
    color: var(--color-text);
  }

  // .el-input-number__decrease,
  // .el-input-number__increase {
  //   background-color: transparent;
  //   transition:
  //     border 0.5s,
  //     color 0.2s;
  // }

  // 解决浏览器自动填充时默认样式问题
  input:-internal-autofill-selected {
    appearance: none !important;
    background-color: transparent !important; // 非常奇怪，这个不管用
    color: var(--color-text) !important;
    // 必须要用像下面一样的特殊手段才管用
    // transition: background-color 0s 600000s, color 0s 600000s !important;
    // https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied
    // 自己改了一下
    transition: background-color 0s 600000s !important;
  }

  input:-webkit-autofill {
    // -webkit-autofill也是必要的
    background-color: transparent !important;
    // transition: background-color 0s 600000s, color 0s 600000s !important;
    transition: background-color 0s 600000s !important;
  }

  .el-textarea__inner {
    padding: 10px 20px;
    border-radius: 20px;
    // background-color: var(--color-background);
    background-color: var(--color-background-soft);
    box-shadow: 0 0 0 2px var(--color-text-soft) inset;
    transition:
      background-color 150ms,
      box-shadow 150ms;
    color: var(--color-text);

    &::placeholder {
      color: var(--color-text-soft);
    }

    &:hover {
      box-shadow: 0 0 0 2px var(--color-text) inset;
      background-color: var(--color-background);
    }

    &.is-focus {
      box-shadow: 0 0 0 2px var(--el-color-primary) inset;
      background-color: var(--color-background);
    }
  }

  // }
}

// 设置页中的按钮盒子样式
.poto-setting-button-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 500px) {
    justify-content: center;

    &.not-center {
      justify-content: flex-end;
    }
  }

  .el-button {
    margin-top: 4px;

    span,
    .el-icon {
      // color: var(--color-background);
      font-weight: bold;
    }

    &.el-button--small {

      span,
      .el-icon {
        // color: var(--color-background);
        font-weight: normal;
      }
    }
  }
}